* {
    margin: 0;
    padding:0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
    
  body {
    background: #F0F0E8;
    overflow-x: hidden;
  }
  
  h1 {
      font-size: 3rem;
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
  
  h2 {
      font-size: 2rem;
    }
  
  h3 {
      font-size: 1.5rem;
    }
  
  p {
      font-size: 1.1rem;
    }
    
  .bg-image {
    background:linear-gradient(45deg, #32d1d1, #70c7ca,#5385f1,#23d541);
    background-size: 400% 400%;
    animation: gradient 12s ease-in infinite;
  }
  
  @keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  
  }
    
  .header-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(128, 128, 128, 0.329);
  }

  .header-class img{
    padding: 20px 50px;
  }

  .container-title h1{
    color: black;
    font-size: 7rem;
  }
  
  .login-signin{
    padding: 50px 100px;
    display:flex;
    flex-direction: row;
    font-size: 1.2rem;
  }
  
  .signin{
    display:flex;
    flex-direction: column;
  }
  
  .signin-line{
    text-decoration: none;
    color:white;
    padding: 5px 10px;
    margin-right: 5px;
  }

  .signin-line-username{
    text-decoration: none;
    color:white;
    padding: 5px 10px;
    margin-right: 5px;
  }
  
  .signin-line:hover {
    background-color: #ddd;
    color: black;
    border-radius: 6%; 
    box-shadow: 0px 0px 7px #000000;
  }

  .login-section {
    padding: 20px;
    display: flex;
    border: black;
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 8px;
    width: 20%;
    margin: 20px auto;
  }
  

  .login-section input[type="text"],
  .login-section input[type="password"] {
    width: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }

  .login-section input[type="text"]:focus,
  .login-section input[type="password"]:focus {
    border-color: black;
    outline: none;
  }
  


  .title-words {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
  }    
  .shadows {
      position: relative;
      text-transform: uppercase;
      text-shadow: -15px 5px 20px #ced0d3;
      color: white;
      font-weight: bolder;
      letter-spacing: -0.05em;
      user-select: none;
      text-transform: uppercase;
      font-size: 3rem;
      transition: all 0.25s ease-out;
  }
  .shadows:hover {
      text-shadow: -16px 6px 15px #ced0d3;
    
  }

  /* TODO barra de Navegacion */

  .navigation {
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
  }


  .navigation li{
    text-decoration: none;
    list-style: none;
    color: black;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
  }
  
  .line {
    color: #FFF;
    display: inline-block;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 18px 10px 18px;
    text-transform: uppercase;
  }

  .link {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
    
  }

  .line:visited {
    text-decoration: none;
  }

  .active {
    color: black;
    font-weight: bold;
  } 
  


/* TODO TABLE */

table {
  margin: 2% auto;
  overflow-y: scroll;
  position: static;
  width: auto;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.356) ;
  background-color: rgba(0, 0, 0, 0.192);
  padding: 20px;
  color: white;
 
}

thead th {
  background-color: rgba(169, 169, 169, 0.247);
  color: #FFF;
  letter-spacing: 2px;
  text-transform: uppercase;
  justify-self: center;
}

tbody tr:nth-child(even){
  background-color: rgba(220, 220, 220, 0.253);
}

tr {
  background-color: #f4f7f800;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  padding: 10px 10px;
  text-align: left;
  margin: 10px;
}

.details {
  margin: 10px 20px;
  position: relative;
  top: 10px;
}

  .networks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2vw;
  }

  .networks a:hover{
    transform: scale(2);
  }

  .icon {
    width: 25px;
  }

  .btn {
    text-decoration: none;
    color: #FFF;
    vertical-align: middle;
    padding: 6px;
    align-content: center;
  }
  
 
  footer {
    background-color: black;
    background-size: contain;
    color:#fff;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
   
  .footer-container{
    padding: 20px 0px;
  }
  .footer-row{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 20px 0px;
  }
  .footer-col{
    text-align: left;
  }

  .footer-col h3{
    padding: 20px 0px 20px 0px;
  }

  .footer-col p{
    justify-self: center;
    
  }
   
  .footer-col ul{
    list-style: none;
    padding: 0;
  }
  
  .footer-col ul li{
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }

  .footer-col ul li:hover {
    text-decoration: none;
    transform: scale(1.1);  
  }   


/* Form styles */

/* Buttons */

.red-btn {
  background-color: red;
  color: rgb(255, 251, 251);
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.red-btn:hover {
  background-color: rgba(255, 0, 0, 0.521);
}

.green-btn {
   background-color:rgb(0, 255, 34);
  color: rgb(0, 0, 0);
  width: 40%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.green-btn:hover{
  background-color: rgba(0, 255, 34, 0.527);
}

/* Form containers */

.form-item {
  color: #FFF;
  padding: 10px;
  font-size: 1.1vw;
} 

.form-control {
  border-radius: 2px;
  border-color: rgb(255, 255, 255);
  padding: 5px;
}
.form-container {
 justify-content: center;
 margin: auto;

}

.form-section {
  padding: 20px;
  display: flex;
  border: black;
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 8px;
  width: 30%;
  margin: 20px auto;
}

.form-item label{
  font-weight: bold;
}

/* Form inputs */

.form-section input[type="text"],
.form-section input[type="number"],
.form-section input[type="date"],
.form-section input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}


.form-section input[type="text"]:focus,
.form-section input[type="number"]:focus,
.form-section input[type="date"]:focus,
.form-section input[type="email"]:focus {
  border-color: black;
  outline: none;
}



/* Productos */ 

.productos-section {

}

@media only screen and (max-width: 1280px) {

  .link {
    font-size: 0.9rem;
  }

  .container-title h1{
    font-size: 4rem;
  }

  .login-signin {
    font-size: 0.9rem;
    padding: 10px;
  }

  .login-section {
    width: 300px;
  }

  .footer-row{
    padding: 0px 20px;
  }

  .footer-col ul li a {
    font-size: 0.9rem;
  }

  .footer-col h3{
    font-size: 1.1rem;
  }

  .footer-row p{
    font-size: 1.1rem;

  }

  .shadows{
    font-size: 2rem;
  }

}

@media only screen and (max-width: 768px) {
  .link {
    font-size: 0.7rem;
  }

  .container-title h1{
    font-size: 2rem;
  }

  .login-signin {
    font-size: 0.7rem;
    padding: 10px 20px;
  }

  .login-section {
    width: 200px;
  }


  .footer-row{
    padding: 0px 20px;
  }


}